@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,900;1,100;1,900&family=Urbanist:wght@900&display=swap');
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat.TTF");
}
@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url("../fonts/Helvetica.TTF");
}
body {
    background: linear-gradient(173deg, rgb(174, 197, 188) 20%, rgb(221 219 219) 30%, rgba(255,255,255,0) 35%);
    width: 100%;
}
#Cabecera{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 24px;
    overflow: hidden;
    height: 900px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    transition: .6s;
    z-index: 5;
    padding: 15px;
    background: rgb(255 255 255 / 0%);
    filter: drop-shadow(2px 0px 8px white);
}
header.sticky {
    padding: 5px 100px;
    background: linear-gradient(100deg, rgba(235,235,235,1) 48%, rgba(46,46,46,1) 95%);
    opacity: 75%;
    filter: drop-shadow(2px 4px 6px black);
}
header.sticky:hover{
    padding: 5px 120px;
    background: linear-gradient(100deg, rgb(192, 192, 192) 48%, rgba(46,46,46,1) 95%);
    opacity: 100%
}
.índice {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: gap .25s;
    transition-delay: 1s;
    position: relative;
    margin-bottom: 15px;
    z-index: 2;
    box-sizing: border-box;
}

.índice a {
    -webkit-text-fill-color: rgb(61, 61, 61);
    transition:border-bottom 0.15s, padding-bottom 0.3s, width 0.2s;
}
.índice a:hover {
    -webkit-text-fill-color: rgb(205, 255, 238);
    padding-bottom: 12px;
    border-bottom: 2px solid rgb(205, 255, 238);
    filter: drop-shadow(2px 0px 24px rgb(230, 252, 246));
}

.íconoÍndice{
    display: none;
    image-rendering: optimizeSpeed;
    height: 180px;
    z-index: 4;
}
.botonIndice{
    font-family: "Poppins";
    font-size: 25px;
    font-variant-caps: all-petite-caps;
    font-weight: 600;
    letter-spacing: 0.03em;
    margin-top: 0px;
    padding-top: 15px;
    padding-left: 36px;
    padding-right: 36px;
    border-style: none;
    background-color: transparent;
    text-decoration: none;
    list-style-type: none;
}
.índice:hover > .botonIndice{
    opacity: .35;
}
.índice:hover > .botonIndice:hover{
    opacity: 1;
}
.logosProyectos {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    transform: translate(-680px, 68px);
    z-index: 5;
    transition: all .5s;
}
.logosProyectos.subir {
    flex-direction: row;
    transform: translate(610px, -15px);
    gap: 92px;
}
.proyectos{
    height: 180px;
    filter: invert(100%) brightness(140%) drop-shadow(26px 13px 1px rgb(143, 168, 156));
    opacity: 60%;
    transition: all .75s;
}
.proyectos:hover{
    height: 300px;
    opacity: 85%;
    filter: brightness(250%) invert(7.5%) drop-shadow(0px 4px 0px rgb(66, 63, 63));
}
.proyectos.subir{
    height: 50px;
    filter: brightness(250%) drop-shadow(6px 1px 0px rgb(255, 197, 182));
    opacity: 80%;
}
.proyectos.subir:hover{
    height: 75px;
    filter: invert(100%) brightness(150%);
    opacity: 100%;
}
.backcabecera {
    display: block;
    height: 600px;
    width: 75%;
    position: absolute;
    background: linear-gradient(140deg, rgb(0, 255, 200) 5%, rgb(0, 255, 157) 15%, rgb(221, 153, 153) 65%, rgba(244, 181, 181, 0.219) 95%);
    border-radius: 10% 10% 0% 100% / 0% 0% 64% 73%;
    transform: translate(230px, -36px);
    z-index: 0;
    opacity: 80%;
    overflow: hidden;
    filter:drop-shadow(-8px 8px 8px rgb(70, 70, 70)) brightness(105%) saturate(60%);
}
.backcabeceraAnimación{
    width: 100%;
    opacity: 20%;
}
#cabecera1{
    display: grid;
    grid-template-columns: 400px auto;
    align-items: center;
    justify-content: center;
    height: 1000px;
}
.retrato{
    height: 200px;
    z-index: 3;
    transition: all .5s;
    opacity: 10%;
    grid-column: 4;
}
.retrato:hover{
    height: 400px;
    filter: brightness(100%);
}
.retrato.show {
    opacity: .65;
    filter: brightness(1.15);
}
.retrato.show:hover{
    opacity: .95;
    filter: brightness(.95);
}
.hidden{
    opacity: 0;
    filter: blur(24px);
    transform: translateX(-100%);
    transition: all 1.25s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.cabecera2{
    display: flex;
    margin: 8px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    grid-column: 1 / 4;
    grid-row: 2;
    width: 100%;
    transform: translate(37px, 21px);
}
.nombre {
    font-family: "Urbanist";
    font-size: 530px;
    font-variant-caps: all-petite-caps;
    font-weight: 900;
    letter-spacing: -0.06em;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    height: 400px;
    grid-column: 1;
    color: #cbe7db;
    z-index: 2;
    transition: all .75s;
    pointer-events: visibleFill;
    grid-column: 1;
    grid-row: 1;
    transform: translate(-321px, 32px);
    opacity: 90%;
}
/* .nombre:hover{
    font-size: 80px;
} */
.portafolio{
    font-family: "Comfortaa",cursive;
    font-size: 35px;
    font-variant-caps: all-petite-caps;
    font-weight: 300;
    letter-spacing: 0.03em;
    margin: 12px;
    padding: 0px;
    transition: font-size .25s;
    z-index: 3;
    color: #6a6a6a;
    filter: drop-shadow(2px 4px 8px grey);
}
.portafolio:hover{
    font-size: 50px;
}
.hazClick{
    font-family: "Comfortaa",cursive;
    font-size: 12px;
    font-variant-caps: all-petite-caps;
    font-weight: 300;
    letter-spacing: 0.03em;
    margin: 0px;
    padding: 0px;
    width: 220px;
    text-align: center;
    transition:font-size 0.25s;
    z-index: 2;
    color: #000000;
    filter: drop-shadow(2px 4px 6px grey);;
}
.hazClick:hover {
    font-size: 15px;
}

#muestra{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
    margin-top: 30px;
    padding-top: 100px;
}
.introGalería{
    font-family: "Comfortaa";
    font-size: 15px;
    font-variant-caps:titling-caps;
    font-weight: 100;
    letter-spacing: 0.1em;
    margin-bottom: 50px;
    padding: 0px;
    width: 480px;
    transition: all 0.5s;
    grid-column: 3;
    z-index: 3;
    transform: translate(-693px, 443px);
    color: rgb(63, 63, 63);
    filter: drop-shadow(2px -1px 2px rgb(139, 139, 139));
}
.introGalería:hover {
    font-size: 20px;
}
.container{
    display: flex;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    height: 1475px;
    width: 786px;
    transform: translate(-8px, -8px);
    opacity: 20%;
    border-radius: 83px;
    transition: all .5s cubic-bezier(0.42, 0, 0.42, 1.57);
    transition-delay: all .25s;
    filter: saturate(50%);
}
.contain1{
    width: 1795px;
    height: 1000px;
    transform: translate(-300px, 48px);
    filter: drop-shadow(-10px 10px 15px rgb(124, 124, 124)) saturate(30%);
}
.contain2{
    width: 1795px;
    height: 1000px;
    transform: translate(-310px, 8px);
    filter: drop-shadow(-10px 10px 15px rgb(124, 124, 124)) saturate(30%);
}
.contain3{
    width: 903px;
    height: 1623px;
    transform: translate(-480px, -8px);
    filter: drop-shadow(-10px 10px 15px rgb(124, 124, 124)) saturate(30%);
}
.contain4{
    width: 1795px;
    height: 1100px;
    transform: translate(-360px, 133px);
    filter: drop-shadow(-10px 10px 15px rgb(124, 124, 124)) saturate(30%);
}
.contain5{
    width: 1795px;
    height: 630px;
    transform: translate(-300px, 733px);
    filter: drop-shadow(-10px 10px 15px rgb(124, 124, 124)) saturate(30%);
}
.contain6{
    width: 1775px;
    height: 1000px;
    transform: translate(-300px, 533px);
    filter: drop-shadow(-10px 10px 15px rgb(124, 124, 124)) saturate(30%);
}
#galería{
    display: flex;
    flex-direction:row;
    column-gap: 10px;
    row-gap: 10px;
    align-items: flex-start;
    transition-delay: .25s;
}
#galeríaCel{
    display: none;
}
#galería1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    column-gap: 10px;
    row-gap: 20px;
    position:relative;
    transition-delay: .5s;
}
#galería2{
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 10px;
    row-gap: 15px;
    position:relative;
    transition-delay: .75s;
}
#galería3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    column-gap: 10px;
    row-gap: 15px;
    position:relative;
    transition-delay: 1s;
}
.imagen{
    width: 250px;
    height: 200px;
    border-radius: 75px;
    object-fit: cover;
    object-position: left center;
    transition: width .75s, height .75s, object-fit 0.5s, border-radius 0.5s;
    transition-delay: .25s;
    overflow: hidden;
    box-shadow: 0px 0px 3px rgb(255, 255, 255);
    filter: drop-shadow(-5px 20px 40px rgb(175, 189, 182))
}
.imagen1{
    width: 250px;
    height: 357.5px;
    border-radius: 75px;
    object-fit: cover;
    object-position: left center;
    overflow: hidden;
    transition: width .75s, height .75s, object-fit 0.5s, border-radius 0.5s;
    transition-delay: .25s;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px rgb(255, 255, 255);
    filter: drop-shadow(-5px 20px 40px rgb(165, 197, 185))
}
.imagen2{
    width: 250px;
    height: 357.5px;
    border-radius: 75px;
    object-fit: cover;
    object-position: left center;
    overflow: hidden;
    transition: width .75s, height .75s, object-fit 0.5s, border-radius 0.5s;
    transition-delay: .25s;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px rgb(255, 255, 255);
    filter: drop-shadow(-5px 20px 40px rgb(122, 104, 104));
}
.imagen3{
    width: 250px;
    height: 173.5px;
    border-radius: 75px;
    object-fit: cover;
    object-position: left center;
    transition: width .75s, height .75s, object-fit 0.5s, border-radius 0.5s;
    transition-delay: .25s;
    overflow: hidden;
    box-shadow: 0px 0px 3px rgb(255, 255, 255);
    filter: drop-shadow(-5px 20px 40px rgb(187, 150, 150));
}
.imagen:hover{
    width: 700px;
    height: 350px;
    border-radius: 10px;
    object-position: center;
}
.imagen3:hover{
    width: 600px;
    height: 350px;
    border-radius: 10px;
    object-position: center;
}
.imagen2:hover{
    width: 400px;
    height: 600px;
    border-radius: 10px;
    object-position: center;
}
.imagen1:hover{
    width: 700px;
    height: 357.5px;
    border-radius: 10px;
    object-position: center;
}

.imagen1:hover > .imagen2 {
    opacity: .35;
}
.imagen1:hover > .imagen2:hover {
    opacity: 1;
}


@media (max-width:1850px) {
    .índice{
        transform: translateX(-30px);
    }
    .botonIndice {
        padding-left: 26px;
        padding-right: 16px;
    }
    .logosProyectos {
        transform: translate(-575px, 68px);
    }
    .logosProyectos.subir{
        transform: translate(483px, -15px);
        gap: 75px;
    }
    .container{
        display: flex;
        background-color: rgb(255, 255, 255);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        height: 1475px;
        width: 786px;
        transform: translate(-8px, -8px);
        opacity: 20%;
        border-radius: 83px;
        transition: all .5s cubic-bezier(0.42, 0, 0.42, 1.57);
        transition-delay: all .25s;
        filter:blur(0px);
    }
    .contain1 {
        width: 1550px;
        height: 750px;
        transform: translate(-167px, 48px);
    }
    .contain2 {
        width: 1494px;
        height: 800px;
        transform: translate(-139px, 8px);
    }
    .contain3{
        width: 703px;
        height: 1423px;
        transform: translate(-289px, -8px);
    }
    .contain4 {
        width: 1500px;
        height: 800px;
        transform: translate(-188px, 133px);
    }
    .contain5 {
        width: 1525px;
        height: 515px;
        transform: translate(-152px, 733px);
    }
    .contain6 {
        width: 1517px;
        height: 800px;
        transform: translate(-154px, 761px);
    }
}
@media (max-width:1550px) {
    .proyectos{
        height: 169px;
    }
    .proyectos:hover{
        height: 239px;
    }
    .logosProyectos {
        transform: translate(-496px, 37px);
    }
    .logosProyectos.subir {
        transform: translate(393px, -27px);
        gap: 42px;
    }
    .introGalería{
        transform: translate(-648px, 444px);
    }
    .container{
        display: flex;
        background-color: rgb(255, 255, 255);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        height: 1475px;
        width: 786px;
        transform: translate(-8px, -8px);
        opacity: 20%;
        border-radius: 83px;
        transition: all .5s cubic-bezier(0.42, 0, 0.42, 1.57);
        transition-delay: all .25s;
        filter:blur(0px);
    }
    .contain1 {
        width: 1350px;
        height: 650px;
        transform: translate(-65px, 48px);
    }
    .contain2 {
        width: 1394px;
        height: 700px;
        transform: translate(-88px, 8px);
    }
    .contain3 {
        width: 603px;
        height: 1023px;
        transform: translate(-221px, -8px);
    }
    .contain4 {
        width: 1300px;
        height: 700px;
        transform: translate(-92px, 133px);
    }
    .contain5 {
        width: 1325px;
        height: 455px;
        transform: translate(-50px, 733px);
    }
    .contain6 {
        width: 1317px;
        height: 700px;
        transform: translate(-99px, 761px);
    }
}
@media (max-width:1400px) {
    body{
        background: linear-gradient(173deg, rgb(144 199 176) 10%, rgb(221 219 219) 20%, rgba(255,255,255,0) 25%);
        width: 100%;
    }
    #cabecera1 {
        display: flex;
        align-items: flex-start;
        height: 640px;
        flex-direction: column;
        row-gap: 24px;
        margin-bottom: -33px;
        overflow: hidden;
        width: 100%;
    }
    header.sticky {
        padding: 0px 0%;
        opacity: 75%;
    }
    header.sticky:hover{
        padding: 1px 2%;
        opacity: 100%
    }
    .logosProyectos {
        transform: translate(-376px, 37px);
    }
    .logosProyectos.subir {
        transform: translate(393px, -27px);
        gap: 10px;
    }
    .cabecera2 {
        transform: translate(387px, -127px);
        z-index: 3;
    }
    .backcabecera {
        height: 420px;
    }
    .nombre {
        font-size: 480px;
        font-weight: 900;
        display: flex;
        height: 50px;
        transform: translate(28px, -107px);
    }
    .nombreEIcono{
        display: flex;
    }
    .tarjetaNombreExpand {
        transform: translate(316px, -26px);
    }
    .retrato.show {
        transform: translate(27px, -33px);
    }
    .retrato.show:hover {
        transform: translate(-169px, 82px);
    }
    .portafolio {
        font-size: 30px;
        font-weight: 900;
    }
    .portafolio:hover{
        font-size: 35px;
    }
    .hazClick{
        font-size: 15px;
    }
    .hazClick:hover{
        font-size: 20px;
    }
    .introGalería {
        font-size: 17px;
        text-align: start;
        transform: translate(45px, 302px);
    }
    .introGalería:hover{
        font-size: 2vh;
    }
    #galería{
        display: none;
    }
    .container2{
        display: flex;
        position: absolute;
        height: 2352px;
        width: 521px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: rgb(255, 255, 255);
        z-index: 0;
        transform: translate(-5px, 0px);
        border-radius: 52px;
        opacity: 20%;
        transition: all .5s cubic-bezier(0.42, 0, 0.42, 1.57);
        transition-delay: all .25s;
        filter: saturate(50%);
    }
    .contain7{
        width: 1150px;
        height: 627px;
        transform: translate(-205px, 10px);
    }
    .contain8 {
        width: 1150px;
        height: 680px;
        transform: translate(-205px, 823px);
    }
    .contain9{
        width: 1150px;
        height: 627px;
        transform: translate(-205px, 1641px);
    }
    .contain10 {
        width: 1150px;
        height: 387px;
        transform: translate(-205px, 532px);
    }
    .contain11 {
        width: 553px;
        height: 894px;
        transform: translate(401px, 570px);
    }
    #galeríaCel {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        row-gap: 10px;
        transform: translateY(-240px);
        z-index: 1;
    }
    #galería4{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 2;
    }
    #galería5{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 2;
    }
    .imagen4{
        width: 250px;
        height: 250px;
        border-radius: 50px;
        margin-top: 10px;
        border-radius: 75px;
        object-fit: cover;
        object-position: left center;
        transition: width .75s, height .75s, object-fit 0.5s, border-radius 0.5s;
        transition-delay: .25s;
        overflow: hidden;
        box-shadow:1px 1px 5px rgb(172, 185, 165)
    }
    .imagen5{
        width: 250px;
        height: 250px;
        border-radius: 50px;
        margin-top: 10px;
        border-radius: 75px;
        object-fit: cover;
        object-position: left center;
        transition: width .75s, height .75s, object-fit 0.5s, border-radius 0.5s;
        transition-delay: .25s;
        overflow: hidden;
        box-shadow:1px 1px 5px rgb(172, 185, 165)
    }
    .imagen4:hover{
        width: 500px;
        height: 300px;
        border-radius: 10px;
        object-position: center;
    }
    .imagen5:hover{
        width: 500px;
        height: 300px;
        border-radius: 10px;
        object-position: center;
    }
    .botonIndice{
        font-size: 20px;
    }
}
@media (max-width:1200px) and (min-height:1200px) {
    body {
        background: linear-gradient(173deg, rgb(144 199 176) 5%, rgb(221 219 219) 20%, rgba(255,255,255,0) 35%);
        width: 100%;
    }
    .backcabecera {
        width: 110%;
        height: 904px;
        transform: translate(-63px, -25px);
        filter: drop-shadow(2px 4px 6px dimgrey);
    }
    .backcabeceraAnimación {
        height: 100%;
        opacity: 20%;
    }    
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        transition: .6s;
        z-index: 4;
        padding: 0px;
        filter: drop-shadow(2px 0px 8px white);
        flex-direction: column;
        align-items: center;
        transform: translate(61px, 0px);
        pointer-events: stroke;
    }
    header.sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        transition: .6s;
        z-index: 4;
        padding: 0px;
        filter: drop-shadow(2px 0px 8px white);
        flex-direction: column;
        align-items: center;
        transform: translate(61px, 0px);
        pointer-events: stroke;
        background: transparent;
    }
    header.sticky:hover {
        padding: 0px 0%;
        opacity: 100%;
        background: rgb(255 255 255 / 0%);
        filter: none;
        transform: translate(26%, 10px);
    }
    .cuerpoÍcono{
        background-color: transparent
    }
    .íconoÍndice {
        display: block;
        opacity: .75;
        height: 100px;
        transition: all 0.75s cubic-bezier(0.63,-0.79, 0.35, 1.59);
        margin-bottom: 25px;
        filter: invert(.55) brightness(.95) drop-shadow(1px 1px 3px whitesmoke) saturate(7.75) hue-rotate(225deg) brightness(1.13) invert(1) brightness(2) drop-shadow(2px 4px 6px whitesmoke) saturate(0.15) drop-shadow(2px 4px 6px darkgrey) invert(1) drop-shadow(1px 1px 1px white);
        transform: translate(840px, 20px);
    }
    .íconoíndice.brillo{
        opacity: 100%;
    }
    .íconoÍndice.active {
        height: 65px;
        filter: drop-shadow(0px 0px 6px whitesmoke) saturate(1) brightness(1.25) invert(1) brightness(9.75) sepia(1) hue-rotate(45deg);
        opacity: 75%;
        position: fixed;
        z-index: 3;
        transform: translate(750px, 12px);
    }
    .índice{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 20px;
        transition: all 0.75s cubic-bezier(0.42,-0.23, 0.85, 2);
        text-align: center;
        margin-top: -10px;
        gap: 0px;
        opacity: 0%;
    }
    header > .índice {
       background: rgb(245, 245, 245) 
    }
    header.sticky > .índice {
       background: rgba(245, 245, 245, 0.041) 
    }
    .botonIndice {
        height: 100%;
        transition: all 0.5s cubic-bezier(0.42,-0.23, 0.85, 2);
        padding-top: 0px;
        transform: translate(-23px, 0px);
    }
    .botonIndice {
        height: 32px;
        transition: all 0.5s cubic-bezier(0.42,-0.23, 0.85, 2);
        padding-top: 0px;
        transform: translate(-23px, 0px);
    }
    
    .índice a {
        font-family: 'Poppins';
        -webkit-text-fill-color: rgb(64 64 64);
        font-size: 37px;
        font-weight: 600;
        letter-spacing: 0px;
        padding-top: 20px;
        filter: blur(0px);
    }
    .índice a:hover {
        -webkit-text-fill-color: rgb(84, 88, 83);
        padding-bottom: 4px;
        border-bottom: 2px solid black;
        font-size: 24px;
        filter: blur(0px);
    }
    .índice a:hover {
        height: 40px;
    }
    .índice.active {
        display: flex;
        margin-top: 0px;
        justify-content: center;
        gap: 163px;
        height: 1250px;
        width: 250px;
        /* background: #ffffff00; */
        border-radius: 60% 20% 20% 60% / 10% 0% 0% 10%;
        border: solid 1px whitesmoke;
        opacity: 95%;
        filter: drop-shadow(2px 4px 6px whitesmoke) drop-shadow(2px 4px 6px grey);
        transform: translate(750px, 0px);
        align-items: flex-end;
        box-shadow: inset 6px -4px 50px 8px #9f8f8f45;
    }
    .índice.active:hover {
        opacity: 100%;
    }
    .botonIndice:hover {
        opacity: 1;
        margin-top: 0px;
        padding-top: 0px;
    }
    .botonIndice .show {
        transform: translateY(0);
    }
    .brillo{
        animation: brigtness 0.15s ease-in-out;
    }
    @keyframes brigtness {
        0% {
            filter: drop-shadow(2px 4px 6px rgb(0, 0, 0));
            opacity: 0%;
        }
        10% {
            opacity: 100%;
        }
        25% {
            filter: drop-shadow(0 0 3px rgb(241, 241, 241)) invert(1);
        }
        50% {
            filter: drop-shadow(0 0 30px rgb(255, 0, 0) saturate(1));
            opacity: 75%;
        }
        75% {
            filter: drop-shadow(0 0 60px rgb(255, 255, 255) saturate(0));
            opacity: 100%;
        }
        100% {
            filter: invert(.55) brightness(.95) drop-shadow(2px 4px 4px whitesmoke) saturate(7.75) hue-rotate(225deg) brightness(1.13) invert(1) brightness(2) drop-shadow(2px 4px 6px whitesmoke) saturate(0.15) drop-shadow(2px 4px 6px darkgrey);
            image-rendering: optimizeSpeed;
            opacity: 100%;
        }
        
    }
    .proyectos {
        filter: invert(100%) brightness(140%) drop-shadow(26px 13px 1px darkgrey) saturate(1.5) brightness(2.5) invert(1) brightness(10.5) hue-rotate(233deg) brightness(2) saturate(0);
        opacity: 45%;
    }
    .proyectos.subir {
        height: 120px;
        filter: invert(0%) brightness(150%) saturate(.3) drop-shadow(1px 1px 4px rgb(0, 0, 0));
        opacity: 75%;
    }
    .proyectos.subir:hover {
        height: 160px;
    }
    .logosProyectos {
        transform: translate(-16px, 15px);
        align-items: flex-start;
        transition: all .35s;
    }
    .logosProyectos.subir {
        align-items: flex-end;
        transform: translate(774px, 190%);
        gap: 42px;
        flex-direction: column;
    }
    #muestra {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 24px;
        margin-top: -18px;
        padding-top: 100px;
        transform: translateY(-475px);
        z-index: 5;
    }
    #galeríaCel {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        row-gap: 10px;
        transform: translateY(38px);
        z-index: 5;
        position: relative;
    }
    .introGalería {
        transform: translate(66px, -26px);
        text-align: end;
        width: 389px;
        color: white;
        font-size: 35px;
        display: none;
    }
    .introGalería:hover{
        font-size: 30px;
    }
    .portafolio {
        display: none;
        font-size: 75px;
        font-weight: 300;
        transform: translate(91px, 0px);
        letter-spacing: 0px;
        color: white;
    }
    .portafolio:hover{
        font-size: 25px;
    }
    .hazClick {
        font-size: 35px;
        transform: translate(0px, -133px);
        width: 397px;
        display: none;
    }
    .tarjetaNombre{
        transform: translate(167px, -460px);
    }
    #Cabecera {
        display: flex;
        flex-direction: column;
        margin: 0px;
        margin-bottom: -486px;
        border-radius: 20px;
        box-shadow: -10px -10px 30px rgb(109 134 128 / 10%);
        position: relative;
        height: 1672px;
        align-items: flex-start;
        width: 100%;
    }
    #cabecera1 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        flex-direction: column;
        row-gap: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .cabecera2 {
        transform: translate(-23px, 147px);
        z-index: 3;
    }
    .retrato{
        height: 333px;
    }
    .retrato.show{
        filter: brightness(.7)
    }
    .retrato.show:hover{
        transform: translate(-156px, 24px);
        filter: brightness(.85);
    }
    .tarjetaNombreExpand{
        height: 523px;
        width: 387px;
    }
    .tarjetaNombreInterior {
        display: flex;
        width: 200px;
        height: 200px;
        flex-direction: column-reverse;
        transform: translate(147px,284px);
        align-items: flex-end;
    }
    .descripciónNombre {
        font-size: 43px;
    }
    .descripciónNombre2 {
        font-size: 27px;
    }
    .nombre {
        text-align: center;
        height: 75px;
        transform: translate(23px, -111px);
        font-size: 300px;
        opacity: 15%;
        letter-spacing: -20px;
    }
}