@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Urbanist:wght@900&display=swap');
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat.TTF");
}
@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url("../fonts/Helvetica.TTF");
}
body {
    background: linear-gradient(173deg, rgba(46,46,46,1) 25%, rgba(46,46,46,1) 33%, rgba(255,255,255,0) 37%);
}
#Cabecera{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 24px;
    overflow: hidden;
    height: 900px;
}
.backcabecera{
    display: block;
    height: 600px;
    width: 100%;
    position: absolute;
    background: linear-gradient(131deg, rgb(0, 139, 109) 0%, rgb(0, 255, 157) 20%, rgb(181, 244, 213) 45%, rgba(227,244,181,0) 85%);
    border-radius: 10% 10% 0% 100% / 0% 0% 64% 73%;
    transform: translate(-8px, -19px);
    z-index: 0;
    opacity: 50%;
    overflow: hidden;
}
.backcabeceraAnimación{
    width: 100%;
    opacity: 20%;
}
#cabecera1{
    display: grid;
    grid-template-columns: 400px auto;
    align-items: center;
    justify-content: center;
    height: 1000px;
}
.retrato{
    height: 200px;
    z-index: 3;
    transition: all .5s;
    opacity: 10%;
    grid-column: 4;
}
.retrato:hover{
    height: 400px;
    filter: brightness(50%);
}
.tarjetaNombre{
    height: 300px;
    width: 300px;
    background-color: rgb(131, 207, 169, 0);
    border-radius: 300px;
    position: absolute;
    transform: translate(506px, -86px);
    z-index: 2;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    opacity: 0%;
}
.tarjetaNombreExpand {
    height: 233px;
    width: 325px;
    background-color: rgba(219, 219, 219, 0.25);
    border-radius: 4% 20% 20% 4% / 8% 30% 30% 7%;
    transform: translate(100px, -86px);
    box-shadow:4px 4px 4px rgba(0, 71, 56, 0.5);
    opacity: 100%;
}
.tarjetaNombreInterior{
    display: flex;
    width: 136px;
    height: 100px;
    flex-direction: column;
    transform: translateX(176px);
    align-items: flex-end;
}
.descripciónNombre {
    font-family: "Urbanist",cursive;
    font-size: 35px;
    font-variant-caps: all-petite-caps;
    font-weight: 900;
    letter-spacing: 0.03em;
    width: 300px;
    color: rgb(255, 225, 197);
    height: 43px;
    text-align: end;
}
.descripciónNombre2{
    font-family: "Comfortaa",cursive;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.03em;
    width: 298px;
     text-align: end;
    color: rgb(255, 255, 255);
}
.hidden{
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-100%);
    transition: all 1.25s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.retrato.show{
    opacity: 1;
    filter: brightness(.55);
}
.retrato.show:hover{
    opacity: .95;
    filter: brightness(.75);
}
.cabecera2{
    display: flex;
    margin: 8px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    grid-column: 1 / 4;
    grid-row: 2;
    width: 100%;
}
.nombre{
    font-family: "Urbanist";
    font-size: 530px;
    font-variant-caps: all-petite-caps;
    font-weight: 900;
    letter-spacing: 0.05em;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    height: 400px;
    grid-column: 1;
    color: rgba(46,46,46,1);
    z-index: 2;
    transition: all .75s;
    pointer-events:visibleFill;
    grid-column: 1;
    grid-row: 1;
    transform: translate(-192px, 79px);
    opacity: 100%;
}
/* .nombre:hover{
    font-size: 80px;
} */
.portafolio{
    font-family: "Comfortaa",cursive;
    font-size: 25px;
    font-variant-caps: all-petite-caps;
    font-weight: 300;
    letter-spacing: 0.03em;
    margin: 12px;
    padding: 0px;
    transition: font-size .25s;
    z-index: 3;
    color: whitesmoke;
}
.portafolio:hover{
    font-size: 30px;
}
.hazClick{
    font-family: "Comfortaa",cursive;
    font-size: 12px;
    font-variant-caps: all-petite-caps;
    font-weight: 300;
    letter-spacing: 0.03em;
    margin: 0px;
    padding: 0px;
    width: 220px;
    text-align: center;
    transition:font-size 0.25s;
    z-index: 2;
    color: whitesmoke;
}
.hazClick:hover {
    font-size: 15px;
}

.índice {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: gap .25s;
    transition-delay: 1s;
    position: relative;
    margin-bottom: 15px;
    z-index: 2;
}

.índice a {
    -webkit-text-fill-color: rgb(46, 46, 46);
    transition:border-bottom 0.15s, padding-bottom 0.3s, width 0.2s;
}
.índice a:hover {
    -webkit-text-fill-color: rgb(84, 88, 83);
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}

.íconoÍndice{
    display: none;
    image-rendering: optimizeSpeed;
    height: 180px;
}
.botonIndice{
    font-family: "Comfortaa",cursive;
    font-size: 25px;
    font-variant-caps: all-petite-caps;
    font-weight: 300;
    letter-spacing: 0.03em;
    margin-top: 0px;
    padding-top: 15px;
    padding-left: 36px;
    padding-right: 36px;
    border-style: none;
    background-color: transparent;
    text-decoration: none;
    list-style-type: none;
}
.índice:hover > .botonIndice{
    opacity: .30;
}
.índice:hover > .botonIndice:hover{
    opacity: 1;
}
#muestra{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
    margin-top: 30px;
}
.introGalería{
    font-family: "Comfortaa",cursive;
    font-size: 15px;
    font-variant-caps:titling-caps;
    font-weight: 100;
    letter-spacing: 0.1em;
    margin-bottom: 50px;
    padding: 0px;
    width: 480px;
    transition: all 0.5s;
    grid-column: 3;
    z-index: 3;
    transform: translate(-558px, -23px);
    color: whitesmoke;
}
.introGalería:hover {
    font-size: 20px;
}
.container{
    display: flex;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    height: 1475px;
    width: 786px;
    transform: translate(-8px, -8px);
    opacity: 20%;
    border-radius: 83px;
    transition: all .5s cubic-bezier(0.42, 0, 0.42, 1.57);
    transition-delay: all .25s;
    filter:blur(0px);
}
.contain1{
    width: 1825px;
    height: 1000px;
    transform: translate(-300px, 48px);
}
.contain2{
    width: 1825px;
    height: 1000px;
    transform: translate(-310px, 8px);
}
.contain3{
    width: 903px;
    height: 1623px;
    transform: translate(-480px, -8px);
}
.contain4{
    width: 1825px;
    height: 1100px;
    transform: translate(-360px, 133px);
}
.contain5{
    width: 1825px;
    height: 630px;
    transform: translate(-300px, 733px);
}
.contain6{
    width: 1775px;
    height: 1000px;
    transform: translate(-300px, 533px);
}
#galería{
    display: flex;
    flex-direction:row;
    column-gap: 10px;
    row-gap: 10px;
    align-items: flex-start;
    transition-delay: .25s;
}
#galeríaCel{
    display: none;
}
#galería1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    column-gap: 10px;
    row-gap: 20px;
    position:relative;
    transition-delay: .5s;
}
#galería2{
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 10px;
    row-gap: 15px;
    position:relative;
    transition-delay: .75s;
}
#galería3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    column-gap: 10px;
    row-gap: 15px;
    position:relative;
    transition-delay: 1s;
}
.imagen{
    width: 250px;
    height: 200px;
    border-radius: 75px;
    object-fit: cover;
    object-position: left center;
    transition: width .75s, height .75s, object-fit 0.5s, border-radius 0.5s;
    transition-delay: .25s;
    overflow: hidden;
    box-shadow:1px 1px 5px rgb(172, 185, 165)
}
.imagen1{
    width: 250px;
    height: 357.5px;
    border-radius: 75px;
    object-fit: cover;
    object-position: left center;
    overflow: hidden;
    transition: width .75s, height .75s, object-fit 0.5s, border-radius 0.5s;
    transition-delay: .25s;
    box-sizing: border-box;
    box-shadow:1px 1px 5px rgb(172, 185, 165)
}
.imagen2{
    width: 250px;
    height: 357.5px;
    border-radius: 75px;
    object-fit: cover;
    object-position: left center;
    overflow: hidden;
    transition: width .75s, height .75s, object-fit 0.5s, border-radius 0.5s;
    transition-delay: .25s;
    box-sizing: border-box;
    box-shadow:1px 1px 5px rgb(172, 185, 165)
}
.imagen3{
    width: 250px;
    height: 173.5px;
    border-radius: 75px;
    object-fit: cover;
    object-position: left center;
    transition: width .75s, height .75s, object-fit 0.5s, border-radius 0.5s;
    transition-delay: .25s;
    overflow: hidden;
    box-shadow:1px 1px 5px rgb(172, 185, 165)
}
.imagen:hover{
    width: 700px;
    height: 350px;
    border-radius: 10px;
    object-position: center;
}
.imagen3:hover{
    width: 600px;
    height: 350px;
    border-radius: 10px;
    object-position: center;
}
.imagen2:hover{
    width: 400px;
    height: 600px;
    border-radius: 10px;
    object-position: center;
}
.imagen1:hover{
    width: 700px;
    height: 357.5px;
    border-radius: 10px;
    object-position: center;
}

@media (max-width:1600px) {
    #cabecera1 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 945px;
        flex-direction: column;
        row-gap: 24px;
        margin-bottom: 0px;
    }
    .nombre{
        font-size: 50px;
        font-weight: 900;
        display: flex;
        height: 50px;
    }
    .nombreEIcono{
        display: flex;
    }
    .portafolio{
        font-size: 2.5vh;
        font-weight: 900;
    }
    .portafolio:hover{
        font-size: 3vh;
    }
    .hazClick{
        font-size: 1.5vh;
    }
    .hazClick:hover{
        font-size: 2vh;
    }
    .introGalería{
        font-size: 1.5vh;
        text-align: center;
    }
    .introGalería:hover{
        font-size: 2vh;
    }
    #galería{
        display: none;
    }
    #galeríaCel{
        display: flex;
        flex-direction:row;
        column-gap: 10px;
        row-gap: 10px;
    }
    #galería4{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    #galería5{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .imagen1{
        width: 250px;
        height: 250px;
        border-radius: 50px;
        margin-top: 10px;
    }
    .imagen{
        width: 250px;
        height: 250px;
        border-radius: 50px;
        margin-top: 10px;
    }
    .imagen:hover{
        height: 500px;
    }
    .botonIndice{
        font-size: 20px;
    }
}
@media (max-width:1200px) {
    body {
        background: rgba(46,46,46,1);
    }
    #Cabecera{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 24px;
        background: rgb(34,193,195);
        background: linear-gradient(180deg, rgba(137, 194, 180, 0.25) 0%, rgba(253,187,45,0.15) 20%, rgba(255,255,255,0) 70%);
        border-radius: 20px;
        box-shadow: -10px -10px 30px rgb(109 134 128 / 10%);
        position: relative;
        height: auto;
    }
    #cabecera1 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        flex-direction: column;
        row-gap: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .retrato{
        height: 333px;
    }
    .retrato.show{
        filter: brightness(.7)
    }
    .retrato.show:hover{
        transform: translate(-156px, 24px);
        filter: brightness(.85);
    }
    .tarjetaNombreExpand{
        height: 523px;
        width: 387px;
    }
    .tarjetaNombreInterior {
        display: flex;
        width: 200px;
        height: 200px;
        flex-direction: column-reverse;
        transform: translate(147px,284px);
        align-items: flex-end;
    }
    .descripciónNombre {
        font-size: 43px;
    }
    .descripciónNombre2 {
        font-size: 27px;
    }
    /*     .hidden{
        transition: none;
    } */
    .nombre {
        text-align: center;
        height: 75px;
    }
    .portafolio{
        font-size: 30px;
        font-weight: 900;
    }
    .portafolio:hover{
        font-size: 25px;
    }
    .íconoÍndice{
        display: block;
        image-rendering: optimizeSpeed;
        height: 180px;
        transition: all 0.75s cubic-bezier(0.63,-0.79, 0.35, 1.59);
        margin-bottom: 25px;
        filter: drop-shadow(2px 4px 6px green);
    }
    #muestra {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 24px;
        margin-top: -18px;
    }
    .brillo{
        animation: brigtness 3s ease-in-out;
    }
    @keyframes brigtness {
        0% {
            filter: drop-shadow(0 0 30px rgb(74, 219, 17));
            opacity: 0%;
        }
        10% {
            opacity: 100%;
        }
        25% {
            filter: drop-shadow(0 0 3px rgb(192, 238, 174));
        }
        50% {
            filter: drop-shadow(0 0 30px rgb(192, 238, 174));
            opacity: 75%;
        }
        75% {
            filter: drop-shadow(0 0 60px rgb(192, 238, 174));
            opacity: 100%;
        }
        100% {
            filter: drop-shadow(2px 4px 6px green);
            image-rendering: optimizeSpeed;
            opacity: 50%;
        }

    }
    .introGalería{
        transform: translate(0px, 0px);
        font-size: 22px;
    }
    .introGalería:hover{
        font-size: 30px;
    }
    .tarjetaNombre{
        transform: translate(167px, -460px);
    }
    .íconoÍndice:hover {
        filter: brightness(200%);
        filter: drop-shadow(0 0 30px rgb(192, 238, 174));
        opacity: 75%;
    }
    .índice{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 20px;
        transition: all 0.75s cubic-bezier(0.42,-0.23, 0.85, 2);
        text-align: center;
        margin-top: -10px;
        gap: 0px;
    }
    .botonIndice {
        font-size: 25px;
        font-weight: 900;
        transition: margin-top 0.5s;
        height: 32px;
        transition: all 0.5s cubic-bezier(0.42,-0.23, 0.85, 2);
        color:antiquewhite
    }
    .botonIndice a:hover{
        transform: translateY(10px);
        transition: all 0.55s;
    }
    
    .índice a {
    -webkit-text-fill-color: rgb(231 231 231);
    }
    .índice a:hover {
        -webkit-text-fill-color: rgb(84, 88, 83);
        padding-bottom: 4px;
        border-bottom: 2px solid black;
        font-size: 24px;
    }
    .índice a:hover {
        height: 40px;
    }
    .índice.active {
        display: flex;
        height: 250px;
        margin-top: 0px;
        justify-content: flex-start;
        gap: 15px;
        height: 220px;
    }
    .botonIndice .hidden {
        transform: translateY(100);
    }
    .botonIndice .show {
        transform: translateY(0);
    }
    .íconoÍndice{
        opacity: 50%;
    }
    .íconoÍndice.active {
        height: 46px;
        filter: drop-shadow(0px 0px 6px red);
        opacity: 30%;
    }
}